{% if user.is_authenticated %}
    <div class="login">
        <div class="login__notification">Уведомления</div>
        <a href="{% url 'www:logout' %}" id="logout" class="login__profile">Профиль</a>
    </div>
{% else %}

    <div class="login">
        <div class="login__register">
            <span id="register" class="login__register__title">
                <i class="fas fa-cash-register"></i>
                Регистрация
            </span>
            <span id="register_display" class="login__register__box-hide box-shadow d-none">
                {% include 'www/forms/register.html' %}
            </span>
        </div>
        <div class="login__auth">
            <span id="sign-in" class="login__auth__title">
                <i class="fas fa-door-open"></i>
                Войти
            </span>
            <span id="sign-in_display" class="login__auth__box-hide box-shadow d-none">
                {% include 'www/forms/sign-in.html' %}
            </span>
        </div>
    </div>

{% endif %}