@import "../components/colors";

.header {
  background-color: #fff;
  width: 100%;
  height: 45px;
  margin: 50px auto 0;
  .logo {
    &__img {}
    &__title {}
  }
  .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__register {
      &__title {}
    }
    &__auth {
      &__title {}
    }
  }
}

.border-bottom_line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .bb-line {
    width: 100%;
    height: 3px;
  }
}