@import "../components/colors";

.header {
  background-color: #fff;
  width: 100%;
  height: 45px;
  margin: 50px auto 0;
  .logo {
    &__img {}
    &__title {}
  }
  .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__register {
      &__title {}
    }
    &__auth {
      position: relative;
      &__title {
        cursor: pointer;
      }
      &__box-hide {
        border: 1px solid #ccc;
        width: 275px;
        height: auto;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 30px;
        z-index: 1;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}

.border-bottom_line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .bb-line {
    width: 100%;
    height: 3px;
  }
}

.md-form {
  margin-top: 10px;
  margin-bottom: 10px;
}