ul.left-menu {
  display: inline-block;
  width: 100%;
  list-style-type: none;
  background-color: $color-general;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid $color-line;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    &:first-child {
      border-bottom: 2px solid $color-additional;
      & i {
        color: $color-additional;
      }
    }
    a {
      font-size: 14px;
      text-decoration: none;
      color: $color-text;
      &:hover {
        color: $color-hover;
      }
      i {
        width: 40px;
      }
    }
  }
}