{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'www/head.html' %}
    {% block css %}{% endblock %}

    <title>
    {% block title %}
        Базовый шаблон
    {% endblock %}
    </title>
</head>
<body>


{% include 'www/header.html' %}







{% block main-content %}{% endblock %}







{% include 'www/footer.html' %}




    <!-- JQuery -->
    <script src="{% static 'js/libs/jquery-3.3.1.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/libs/mdb.min.js' %}"></script>
    <!--Initializations-->
{% block js %}{% endblock %}

</body>
</html>