{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'www/head.html' %}
    {% block css %}{% endblock %}

    <title>
        {% block title %}
            Базовый шаблон
        {% endblock %}
    </title>
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{#<ul class="messages">#}
{#    <li class="warning">Проверка для связи мязи кязи!</li>#}
{#</ul>#}

{% include 'www/header.html' %}


<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            {% block left-menu %}
                {% include 'www/left-menu.html' %}
            {% endblock %}
        </div>

        <div class="col-12 col-md-9">
            <div class="main-container box-shadow">
                {% block main-content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


{% include 'www/footer.html' %}


{% include 'www/scripts.html' %}
{% block js %}{% endblock %}

</body>
</html>