<div class="header">
    <div class="user-profile">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-8">
                    {% include 'www/header/user-profile.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="logo-menu">
        <div class="container">
            <div class="col-4">
                Logo
            </div>
            <div class="col-8">
                Menu
            </div>
        </div>
    </div>
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    Online
                </div>
                <div class="col-6">
                    Information
                </div>
            </div>
        </div>
    </div>
</div>