{% load static %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row header align-items-center box-shadow">
                <div class="col-4">
                    <div class="logo">
                        <img src="{% static 'img/logo.png' %}" width="20" class="logo__img" alt="Uzbit.uz">
                        <span class="logo__title">UzBit.uz</span>
                    </div>
                </div>
                <div class="col-3 offset-5">
                    {% include 'www/header/login.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="border-bottom_line box-shadow">
                        <div class="bb-line green"></div>
                        <div class="bb-line purple"></div>
                        <div class="bb-line blue"></div>
                        <div class="bb-line orange"></div>
                        <div class="bb-line red"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>