@import "base/header";
@import "base/main";
@import "base/footer";
@import "base/left-menu";
@import "components/colors";

body {
  background-image: url('../img/bg1.jpg');
}


.box-shadow {
  -webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0px rgba(0,0,0,.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.md-form label {
  font-size: 14px;
}

.success {
  background-color: #00C851;
}
.warning {
  background-color: #FFBB33;
}
.info {
  background-color: #33B5E5;
}
.error {
  background-color: #FF3547;
}


// Django messages notification
ul.messages {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0;
  list-style: none;
  z-index: 99;
  li {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    opacity: .8;
    padding: 10px 15px;
    margin: 0 0 5px;
  }
}

select {
  display: block!important;
}